$primary: var(--primary);
$primary-active: var(--primary-active);
$header-back-color: var(--header-back-color);
$border-color: var(--border-color);
$back-img: var(--back-img);
$back-color: var(--back-color);
$label-color: var(--label-color);
$text-color: var(--text-color);